{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">
  

<div class="container col-12">
  <h1>Account</h1>
  <div class="row mt-5">
    <div class="col-md-6 col-sm-12 mb-3">
      <h3>Your Orders</h3>
      <br>
      <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th class="d-sm-table-cell d-md-none">Details</th>
            <th class="d-none d-md-table-cell">Order</th>
            <th class="d-none d-md-table-cell">Date</th>
            <th>Total</th>
            <th>Order Items</th>
          </tr>
        </thead>
        <tbody>
          {% for order in orders %}
            {% if order.status != 'C' %}
            <tr>
              <td class="d-sm-table-cell d-md-none">
                #{{ order.id }} <br>
                ({{ order.get_status_display }}) <br>
                {{ order.date }}
              </td>
              <td class="d-none d-md-table-cell">#{{ order.id }} <br>
                ({{ order.get_status_display }})
              </td>
              <td class="d-none d-md-table-cell">{{ order.date }}</td>
              <td>${{ order.get_total }}</td>
              <td>
                
                  {% for item in order.orderitem_set.all %}
                      
                  • {{ item.product.name }} ({{ item.quantity }}) - ${{ item.product.price }} <br>
                     
                  {% endfor %}
                
              </td>
            </tr>
            {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

    <div class="col-md-2 col-sm-0"></div>

    <div class="col-md-4 col-sm-12">
      <h3>Your Details</h3>
      <br>
      {% load crispy_forms_tags %}
      <form method="post">
          {% csrf_token %}
          <strong>{{ user_form|crispy }}</strong>
          <button type="submit" class="btn btn-dark mt-1">Update</button>
      </form>
    </div>
  </div>
</div>

{% endblock %}
