/* Product Index Page */
div.index-header {
  text-align: center;
  margin: 0;
  border: none;
}

div.index-header > h1,
div.index-header > p {
  text-align: center;
  margin: 0;
  padding: 0.5rem 0;
}

div.index-nav-bar {
  display: flex;
  margin: 0;
  padding: 1rem 1rem 1rem 2rem;
}

button.index-nav-category {
  font-weight: bold;
}

.index-nav-collapse {
  padding: 0 1rem 1rem 2rem;
}

a {
  text-decoration: none;
}

.index-nav-category-detail > a:hover {
  text-decoration: underline black;
}

div.index-product-container {
  margin: 0 auto;
}

div.index-product {
  margin: 0;
  padding: 1.5%;
}

div.index-product > a {
  border: none;
  border-radius: 0;
  background-color: #f9f6f0;
  text-align: center;
  padding-bottom: 1rem;
}

div.index-product > a:hover {
  background-color: rgba(196, 168, 133, 0.304);
}

.index-container {
  display: flex;
}

.card-body > h5 {
  margin-bottom: 1rem;
}

.card-body > p {
  margin: 0.5rem;
}

/* Product Detail Page */

div.product-detail-description {
  width: 35%;
  margin: auto 2.5rem;
}

div.review-delete-button {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 15px;
}

.navbar-hover-shadow:hover {
  box-shadow: 0 25px 8px black;
}

@media (min-width: 769px) {
  div.index-header {
    padding: 6rem 0;
  }

  div.index-nav-bar {
    width: 280px;
  }
}

@media (max-width: 768px) {
  div.product-detail-description {
    width: 85%;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  div.index-sticky-top {
    position: sticky;
    top: 0;
  }

  div.index-header {
    display: none;
  }

  div.index-container {
    flex-direction: column;
  }

  div.index-nav-bar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 0;
    padding: 0;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1000;
  }

  div.index-nav-bar > ul {
    display: flex;
    flex-direction: row;
    margin: 0;
    height: 8rem;
    justify-content: center;
    align-items: center;
  }

  div.index-nav-bar > ul > li {
    margin: 0;
  }

  div.index-nav-collapse {
    padding: 0 1rem 0 2rem;
  }

  div.index-product-container {
    margin: 0 auto;
  }

  div.index-product {
    width: 50%;
  }
}

@media (max-width: 360px) {
  button.index-nav-category {
    font-size: 0.6rem;
  }

  div.index-nav-bar > ul {
    display: flex;
    flex-direction: row;
    margin: 0;
    height: 6.2rem;
    justify-content: center;
    align-items: center;
  }

  li.index-nav-category-detail > a {
    font-size: 0.6rem;
  }

  div.index-nav-collapse {
    padding: 0 1rem 0 2rem;
  }
}
